.heading {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Cousine';
    letter-spacing: 5px;
    font-size: 5vh;
}

.state-w {
    color: black;
    background-color: white;
}

.state-b {
    color: white;
    background-color: black;
}

.img-01 {
    height: 65vh;
    margin-top: 10vh;
}

.img-02 {
    height: 65vh;
    margin-top: 10vh;

    position: absolute;
    transform: rotateY(180deg);
    right: 0;
}

@media (orientation: landscape) {
    .hide-rotate {
        display: none;
    }

    .hide-element {
        display: block;
    }
}

@media (orientation: portrait) {
    .hide-rotate {
        display: block;
    }

    .hide-element {
        display: none;
    }

    .hide-image {
        display: none;
    }

    .rotate-text {
        font-size: 2vh;
        letter-spacing: normal;
    }
}

/* cousine-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cousine';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Cousine/cousine-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}